@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900; 1.400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400; 0,700; 0,900; 1,400; 1,700; 1,900&family=Playfair+Display:ital,wght@0,400..900; 1.400..900&family=Poppins:ital,wght@0.100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1.900&display=swap');


body{
  background-image: url(../imagenes/fondo/FONDO BLANCO 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   font-family: "Playfair Display", serif;
 font-optical-sizing: auto;
 font-style: normal;

	
	
}
.h5 {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #E7E7E7;
	padding-left: 15px;
}
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #3F3F3F;
}

.custom-heading {
  font-family: "Playfair Display", serif;
 font-optical-sizing: auto;
 font-style: normal;
  color: #3F3F3F; 
}
h3{
	font-family: "Playfair Display SC", serif;
	font-weight: 900;
	font-style: normal;
	margin-left: 101px;
	color: #3F3F3F;
	
}
.col-md-2 a img:hover  {
	background-color: #D5BB8E;
}

.container-fluid {
	background-color: #3F3F3F;
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 0px;
}
.container-fluid .navbar-header .navbar-brand {
	margin-left: -160px;
	margin-bottom: 66px;
}

.nav.navbar-nav li a {
	color: #FFFFFF;
	clear: right;
	padding-right: 129px;
	margin-top: 50px;
	float: right;
}
.nav.navbar-nav .dropdown .dropdown-toggle {
}



a:active, a:hover {
	background-color: #3F3F3F;
}
.nav.navbar-nav .dropdown .dropdown-menu {
	color: #3F3F3F;
	background-color: #3F3F3F;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	float: left;
}

.dropdown-menu li a {
	color: #3F3F3F;
	margin-right: -77px;
	text-align: left;
	padding-top: 0px;
}








.container-fluid .collapse.navbar-collapse .nav.navbar-nav {
	float: right;
	padding-left: 0px;
	margin-right: -38px;
}
body footer {
	background-color: #E1CEAD;
	margin-top: 17px;
	padding-top: 37px;
	padding-bottom: 29px;
}
.row .col-md-6 p {
	text-align: center;
}

.row {
	background-color: #E1CEAD;
}


.dropdown .dropdown-menu li {
	padding-top: 0px;
	padding-left: 0px;
	float: left;
}



.container-fluid .container .navbar.navbar-default {
	color: #FFFFFF;
	border-color: #3F3F3F;
}
.row .col-md-6 {
}
.col-md-6 .jumbotron.transparent-jumbotron .poppins-extrabold {
}

.transparent-row {
  background-color: rgba(255, 255, 255, 0.5); 
  border: 1px solid #ccc; 
  padding: 20px;
}

.transparent-jumbotron {
	background-color: rgba(255, 255, 255, 0);
}
.transparent-container {
	background-color: rgba(255,255,255,0.01);
}
.row .container-fluid.transparent-container {
	background-color: #FFFFFF;
	background-image: url(../imagenes/fondo/FONDO%20BLANCO%201.jpg);
}

.row.transparent-container .col-md-6 .jumbotron {
	background-color: #000000;
}

.transparent-container {
	background-color: rgba(255,255,255,0.00); /* Color blanco con una opacidad del 50% */
}

.row .container-fluid {
}


.row.transparent-container .col-md-4 .jumbotron {
	background-color: #3F3F3F;
}
.container-fluid {
}

.col-md-4 .jumbotron h5 {
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 0px;
}
.col-md-4 .jumbotron h3 {
	color: #E7E7E7;
	text-align: center;
	margin-left: 2px;
}
.row.transparent-container .col-md-6 .jumbotron {
	background-color: #3F3F3F;
}
body p {
}
.row.transparent-container .col-md-4 h1 {
	color: #3F3F3F;
}
.row.transparent-container .col-md-6 .text-center {
	color: #3F3F3F;
}

.row.transparent-container .col-md-1 h2 {
	color: #3F3F3F;
}
.row.transparent-container .col-md-1 h6 {
	color: #3F3F3F;
}
.col-md-10 .mb-3 .form-control {
	background-color: #3F3F3F;
}
.col-md-10 form #nombre {
	border-width: 0px;
}
.col-md-10 form input {
	border-width: 0px;
}
.col-md-10 form textarea {
	border-width: 0px;
}
.col-md-7 form input {
	border-width: 0px;
	background-color: #3F3F3F;
}
.col-md-7 form input {
	padding-top: 11px;
	border-radius: 11px;
	text-align: left;
	height: 30px;
	width: 100%;
}
.col-md-7 form .text {
	color: #E7E7E7;
	padding-left: 14px;
	width: 12%;
}


.col-md-7 form textarea {
	border-width: 0px;
	background-color: #3F3F3F;
	border-radius: 11px;
	width: 100%;
}
.text {
}
.col-md-4 .jumbotron .btn.btn-primary.btn-lg {
	background-color: #3F3F3F;
	border-width: 0px;
}
.container-trasnparen {
}
.row-h1 {
}
